.App {
  text-align: center;
}

button {
  border-radius: 0 0.25rem 0.25rem 0 !important;
}
.resCard {
  width: 25%;
  background-color: rgb(255, 249, 241);
}
img {
  object-fit: cover;
  height: 200px;
}
.address {
  margin-right: 0.5em;
}

.searchBar {
  width: 50%;
}
h1 {
  font-family: "Fraunces", serif;
}

@media screen and (max-width: 770px) {
  .resCard {
    width: 33%;
  }
  /* img {
    height: 45%;
  } */
}

@media screen and (max-width: 412px) {
  .resCard {
    width: 100%;
  }
  .searchBar {
    width: 100%;
  }
}
